@CHARSET 'UTF-8';
.header {
  background: no-repeat center right fixed url(../../images/back.jpg);
  background-size: 100%;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/back.jpg', sizingMethod='scale');
  margin-bottom: 0px;
  padding: 0px;
  height: 650px; }
  .header .overlay {
    background-color: #22A39F;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    z-index: 2; }
  .header .header-title {
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center; }
    .header .header-title > * {
      text-align: center;
      color: #FFFFFF; }
    .header .header-title h1 {
      padding-bottom: 20px;
      border-bottom: 1px solid #FFFFFF;
      border-bottom-color: rgba(255, 255, 255, 0.35);
      display: inline-block;
      font-weight: 700px; }
    .header .header-title .sub-title {
      font-size: 28px; }
  .header .scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #222222;
    text-align: center;
    z-index: 6; }
    .header .scroll-down .down-arrow {
      color: #FFFFFF;
      font-size: 30px;
      padding-right: 2px;
      padding-top: 20px;
      animation-name: ani-arrow;
      animation-duration: 1.2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal; }
@keyframes ani-arrow {
  0% {
    padding-top: 20px; }
  50% {
    padding-top: 28px; }
  100% {
    padding-top: 20px; } }
.background-gray {
  background: #434242;
  padding-top: 20px; }
  .background-gray .contact {
    color: white; }
  .background-gray ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  .background-gray .link {
    color: grey; }
  .background-gray .c-title {
    color: grey; }

h1, h4 {
  font-weight: 700;
  margin-bottom: 10px; }

h2, h3 {
  font-weight: 300;
  color: #22A39F; }

h2 {
  font-size: 54px;
  text-align: center; }

h3 {
  font-size: 28px; }

hr {
  width: 100%; }

.bg-white {
  background: #FFFFFF;
  position: relative;
  top: 50px;
  z-index: 4;
  text-align: center;
  margin-bottom: 20px; }
  .bg-white .profile h2 {
    font-size: 54px;
    text-align: center;
    color: #59bab7;
    font-weight: 200px; }
  .bg-white .profile p {
    text-align: center;
    color: #727878;
    font-size: 20px;
    font-weight: 100; }
  .bg-white .profile .sub-content {
    margin-bottom: 20px;
    margin-top: 40px; }
    .bg-white .profile .sub-content h3 {
      font-weight: 300;
      color: #22A39F;
      text-align: left; }
    .bg-white .profile .sub-content img {
      width: 100%;
      max-width: 246px;
      height: auto; }
    .bg-white .profile .sub-content P {
      text-align: left;
      font-size: 18px;
      color: black; }
    .bg-white .profile .sub-content .right-content p {
      color: black; }
    .bg-white .profile .sub-content .right-content .t-btn {
      float: left; }
    .bg-white .profile .sub-content .right-content .f-sub-content {
      color: black; }

.experiences {
  background-color: #efe9d2;
  margin-top: 60px;
  text-align: center;
  height: auto; }
  .experiences .e-title {
    padding-top: 50px;
    color: #22a39f;
    font-weight: 100; }
  .experiences .e-p-title {
    color: #727878;
    font-size: 20px;
    font-weight: 100; }
  .experiences .education {
    text-align: left; }
  .experiences .row {
    padding-bottom: 20px; }
  .experiences .a-title {
    font-size: 20px; }
  .experiences .experience-details {
    display: block;
    color: #22A39F; }
  .experiences .seperator {
    color: #BCBCBC; }

.abilities {
  padding-bottom: 30px; }
  .abilities .a-p-title {
    color: #727878;
    font-size: 20px;
    font-weight: 100; }
  .abilities .skills {
    text-align: left;
    margin-left: 58px;
    padding-bottom: 20px; }
  .abilities ul > li:hover {
    background: #F2F2F2; }
  .abilities .no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  .abilities .ability-title {
    display: inline-block;
    width: 60%;
    text-align: left;
    color: #5a5e5e; }
  .abilities .ability-score {
    float: right; }
    .abilities .ability-score .fas {
      color: #22A39F;
      font-size: 14px;
      transition: all 0.3s; }
    .abilities .ability-score .blank {
      color: #e0e1e1; }
  .abilities ul > li:hover .ability-score .fas {
    margin-left: 2px; }
  .abilities li {
    padding-bottom: 10px; }
  .abilities .project-referal {
    margin-top: 40px; }
    .abilities .project-referal p {
      font-style: italic;
      color: #999999; }

.container-fluid {
  background-color: #efe9d2;
  padding-top: 60px;
  padding-bottom: 20px; }
  .container-fluid .projects p {
    color: #727878; }
  .container-fluid #projects figure {
    position: relative;
    overflow: hidden; }
    .container-fluid #projects figure h3 {
      color: #FFF;
      font-weight: 600;
      margin-bottom: 5px; }
    .container-fluid #projects figure p > strong {
      width: 60px;
      display: inline-block;
      margin: 0px; }
    .container-fluid #projects figure img {
      width: 110%; }
    .container-fluid #projects figure figcaption {
      padding: 20px 30px;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%; }
    .container-fluid #projects figure a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%; }
    .container-fluid #projects figure .icon {
      background: #22A39F;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 48px;
      height: 48px;
      padding-top: 10px; }
      .container-fluid #projects figure .icon span {
        font-size: 18px;
        line-height: 18px;
        padding: 15px; }
  .container-fluid figure.effect {
    background: #22A39F;
    color: #FFF; }
    .container-fluid figure.effect img {
      width: calc(100% + 20px);
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(-10px, 0, 0);
      backface-visibility: hidden; }
    .container-fluid figure.effect:hover img {
      opacity: 0.2;
      transform: translate3d(0, 0, 0); }
    .container-fluid figure.effect figcaption {
      text-align: left; }
    .container-fluid figure.effect h3 {
      position: relative;
      overflow: hidden;
      padding-bottom: 20px;
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s; }
    .container-fluid figure.effect:hover h3 {
      opacity: 1; }
    .container-fluid figure.effect h3::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: '';
      transition: transform 0.35s;
      transform: translate3d(-100%, 0, 0); }
    .container-fluid figure.effect:hover h3::after {
      transform: translate3d(0, 0, 0); }
    .container-fluid figure.effect p {
      padding-top: 10px;
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(100%, 0, 0); }
    .container-fluid figure.effect:hover p {
      opacity: 1;
      transform: translate3d(0, 0, 0); }

/*# sourceMappingURL=main.css.map */
